<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   http://www.springframework.org/schema/beans/spring-beans.xsd"
	   default-init-method="ginit" default-destroy-method="gdestroy">
	   
	   
	   
	   <!-- we can add init and destroy here as bean attributes, init-method = "init" destroy-method = "destroy" then local init and destroy will be invoked  -->
	   <bean id="employee" class="com.training.employee.Employee" scope="singleton" >
	   <!-- autoboxing is taken care by spring -->
	   
	   <!-- the values can be got from external resource -->
	   <property name = "empId" value="${employee.empid}"/>
	   <property name = "empName" value="${employee.empname}"/>
	   <property name = "empSal" value="${employee.empsal}"/>
	   
	   </bean>
	   <!-- when initialization happens spring will look if any class here implements BeanPostProcessor if so it will invoke that class methods before and after -->
	   <bean class="com.training.bpp.EmployeeBeanProcessor"/>
	   
	   <bean class = "org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	   <property name="Location">
	   <value>employeeinfo.properties</value>
	   </property>
	   </bean>
	   
	   
	   
	   
	   
	   
	   
	   
	   
</beans>